<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UI Home page</title>
</head>
<body>
    <h1>UI Library Main</h1>
    <h3>Possible resources:</h3>
    <hr>
    <ul>
        <li>/ui/books - Список всех книг</li>
        <li>/ui/readers - Список всех читателей</li>
        <li>/ui/issues - Информация о всех выдачах книг</li>
        <li>/ui/reader/{id} - Список книг на руках у читателя с id</li>
    </ul>
    <hr>
</body>
</html>