<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Issues</title>
</head>
<body>
<h1>Table of Issues</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Book</th>
        <th>Reader</th>
        <th>Issued at</th>
        <th>Returned at</th>
    </tr>
    <tr th:each="issue: ${issues}">
        <td th:text="${issue.getId()}"></td>
        <td th:text="${books.get(issue.getBookId()-1).getName()}"></td>
        <td th:text="${readers.get(issue.getReaderId()-1).getName()}"></td>
        <td th:text="${issue.getIssued_at()}"></td>
        <td th:text="${issue.getReturned_at()}"></td>
    </tr>
</table>
</body>
</html>